*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.error{
  color:red;
}
.border-danger{
  border-color:red;
}
.btnDescarga {
        padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}
.verificar{
   max-width: 500px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
.checkbox{
  display: flex;
}
.descargas{
 padding: 9px;
  color: #FFF;
  background-color: #000665;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  display:flex;
  flex-direction:column;
}
.paginaError{
 padding: 9px;
  color: #FFF;
  background-color: #000665;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  display:flex;
  flex-direction:column;
}
.descargasF{
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 20px;
  background: white;
  border-radius: 8px;
}
.descargas:hover{
  background-color: #3d49B8;
}

img {
    max-width: 100%;
}

.body {
        background: url("logos/zapatosng.png")no-repeat,
                    url("logos/pan.jpg") repeat;
        /*background-color: #d4d4ec;*/

        /*background-repeat: no-repeat;*/
        font-family: 'Nunito', sans-serif;
        color: #384047;
        width: 100%;
        background-size: contain;
        margin: 0;
        height: 100vh;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}


h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}
button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #35d4e6;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #2fc3d4;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}
a{
  color:white;
  text-decoration-color: white;
  text-decoration: none;
}


.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

/* ESTILOS PARA LOGO HEADERE */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15.3em;
    width: 900px;
}

.item {
    -webkit-flex-basis: 13%;
    -moz-flex-basis: 13%;
    -o-flex-basis: 13%;
    -ms-flex-basis: 13%;
    flex-basis: 13%;
}

.item-2 {
    -webkit-flex-basis: 17%;
    -moz-flex-basis: 17%;
    -o-flex-basis: 17%;
    -ms-flex-basis: 17%;
    flex-basis: 17%;
    max-width: 144%;
}

/*small*/
small {
    display: block;
    margin: 1em;
    font-size: 1em;
    font-style: italic;
}
.ok{
    padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #35d4e6;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #2fc3d4;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  display:block;
}

/*footer*/
.pie {
  background-color: #FF4A00;
  margin: 20px 0 0 0;
  color: #fff;
}
.icono-m {
    font-size: 30px;
    margin-right: 16px;
}

.icono-m:last-of-type {
    margin: 0;
}
.mr {
    margin-right: 12px;
}

.parrafo-center {
    text-align: center;
    margin: 0;
    margin-top: 20px;
    padding: 16px;
    background-color: rgba(0,0,0,.2);
}
.parrafo-s {
    font-size: 13px;
    text-transform: capitalize;
}
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-fo {
  height: 75px;
}
.fundabit {
    font-size: 16px;
}
@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

.btn-required {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #35d4e6;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #2fc3d4;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  display: block;
}
/*footer*/
.pie {
  background-color: #FF4A00;
  margin: 20px 0 0 0;
  color: #fff;
}
.icono-m {
    font-size: 30px;
    margin-right: 16px;
}

.icono-m:last-of-type {
    margin: 0;
}
.mr {
    margin-right: 12px;
}

.parrafo-center {
    text-align: center;
    margin: 0;
    margin-top: 20px;
    padding: 16px;
    background-color: rgba(0,0,0,.2);
}
.parrafo-s {
    font-size: 13px;
    text-transform: capitalize;
}
.pie-contenedor {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-fo {
  height: 75px;
}
.fundabit {
    font-size: 16px;
}